<h1>Cart</h1>

<div id="card">
{{#if courses.length}}
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Count</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>

    <tbody>
        {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td><div class="price">{{price}}</div></td>
                <td>
                    <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
                </td>
            </tr>
        {{/each}}
    </tbody>
    </table>

    <p>Price: <b><span class="price card-price">{{price}}</span></b></p>
{{else}}
    <p>Cart is empty</p>
{{/if}}
</div>